name: Rust

on:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

permissions:
  checks: write

jobs:
  clippy:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: recursive
      - name: Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: clippy, miri, rustfmt
      - name: Clippy
        uses: auguwu/clippy-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Spell Check Repo
        uses: crate-ci/typos@master
